<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-reboot.css" rel="stylesheet" type="text/css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08" style="">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Car shop<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/List">All cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/List/electro">Electric cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/List/fuel">Petrol cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ShopCart/Index">Cart</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container my-5">
        @RenderBody()
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© @DateTime.Now.Year Reahetniak inc.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://github.com/andreshetniak/Shop">Git</a></li>
            <li class="list-inline-item"><a href="https://itcloud.academy/">It cloud academy</a></li>
            <li class="list-inline-item"><a href="https://itproger.com/">ItProger</a></li>
        </ul>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
