<h3>@Model.currentCategory</h3>
<h2>All cars</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.GetAllCars)
        {
            @Html.Partial("AllCars", car )
        }
    }
</div>


